<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Builder</title>
</head>

<body>
  <app-navbar></app-navbar>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/undraw_personal_information_re_vw8a.svg" alt="CV Builder" class="landing-image">
      </div>
      <div class="col-md-6 d-flex align-items-center mb-4">
        <div class="text-center">
          <h1 class="landing-title">Build Your Professional CV</h1>
          <p class="landing-subtitle">Create a stunning CV with ease</p>
          <a routerLink="/cv-builder" class="btn btn-primary cta-button">Get Started Building</a>
        </div>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="card mb-4 custom-card">
          <div class="rounded-img-container">
            <img src="assets/images/undraw_content_structure_re_ebkv.svg" class="card-img-top" alt="Card 1 Image">
          </div>
          <div class="card-body">
            <h5 class="card-title">Schema definition</h5>
            <p class="card-text">Don't know how to create an appealing CV? We are here to help</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card mb-4 custom-card">
          <div class="rounded-img-container">
            <img src="assets/images/undraw_color_palette_re_dwy7.svg" class="card-img-top" alt="Card 2 Image">
          </div>
          <div class="card-body">
            <h5 class="card-title">Customize your design</h5>
            <p class="card-text">Use our color palette to define your favorite style</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card mb-4 custom-card">
          <div class="rounded-img-container">
            <img src="assets/images/undraw_open_source_-1-qxw.svg" class="card-img-top" alt="Card 3 Image">
          </div>
          <div class="card-body">
            <h5 class="card-title">Open source</h5>
            <p class="card-text">If you are a developer, request a code branch to improve it</p>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <app-footer></app-footer>
</body>