<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV Builder</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container landing-container d-flex align-items-center">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/undraw_personal_information_re_vw8a.svg" alt="CV Builder" class="landing-image">
    </div>

    <div class="col-md-6 d-flex align-items-center">
      <div class="text-center">
        <h1 class="landing-title">Build Your Professional CV</h1>
        <p class="landing-subtitle">Create a stunning CV with ease</p>
        <a routerLink="/cv-builder" class="btn btn-primary cta-button">Get Started Building</a>
      </div>
    </div>
  </div>
</div>


<!-- Bootstrap JS and dependencies (optional, only if needed) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

<app-footer></app-footer>
