.text-center {
    text-align: center;
}

.stepper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.step {
    flex: 1;
    color: blue;
}

.step.active {
    color: green;
}

.step-content {
    text-align: left;
    margin: 0 auto;
    max-width: 80vw;
}