<div style="margin-bottom: 24px">
    <div style="display: flex; justify-content: space-between">
        <h4 class="mb-3 font-weight-bold text-muted">Personal Info</h4>
    </div>

    <form [formGroup]="cvForm">

        <div class="row">

            <!-- Picture -->
            <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <label for="name" class="mt-2">Profile picture</label>
                <label for="upload" class="custom-upload-container">
                    <div *ngIf="!uploadedPicture" class="custom-file-upload" style="cursor: pointer;">
                        <input type="file" id="upload" accept="image/*" (change)="onPictureChange($event)"
                            style="display: none;" />
                        <i class="fas fa-cloud-upload-alt"></i> Upload picture
                    </div>
                </label>
                <ng-container *ngIf="uploadedPicture">
                    <div class="uploaded-image">
                        <img [src]="uploadedPicture" alt="Uploaded Picture" width="200" height="200" />
                    </div>
                    <button class="btn btn-link mt-2" (click)="changePicture()">Change Picture</button>
                </ng-container>
            </div>

            <!-- Personal data form -->
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input formControlName="name" type="text" class="form-control" id="name"
                        placeholder="Enter your name" />
                    <div *ngIf="cvForm.get('name').invalid && cvForm.get('name').touched">
                        <div class="required-field" *ngIf="cvForm.get('name').hasError('required')">
                            Name is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email" type="text" class="form-control" id="email"
                        placeholder="Enter your email" />
                    <div *ngIf="cvForm.get('email').invalid && cvForm.get('email').touched">
                        <div class="required-field" *ngIf="cvForm.get('email').hasError('required')">
                            Email is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input formControlName="phone" type="text" class="form-control" id="phone"
                        placeholder="Enter your phone" />
                    <div *ngIf="cvForm.get('phone').invalid && cvForm.get('phone').touched">
                        <div class="required-field" *ngIf="cvForm.get('phone').hasError('required')">
                            Phone is required
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-sm-12 col-md-6">
                <label for="headline">Headline</label>
                <input formControlName="headline" type="text" class="form-control" id="headline"
                    placeholder="Enter your headline" />
                <div *ngIf="
                cvForm.get('headline').invalid &&
                cvForm.get('headline').touched
              ">
                    <div class="required-field" *ngIf="cvForm.get('headline').hasError('required')">
                        Headline is required
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-6">
                <label for="profile">Profile</label>
                <input formControlName="profile" type="text" class="form-control" id="profile"
                    placeholder="Enter your profile" />
                <div *ngIf="
                cvForm.get('profile').invalid && cvForm.get('profile').touched
              ">
                    <div class="required-field" *ngIf="cvForm.get('profile').hasError('required')">
                        Profile is required
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                <label for="linkedin">LinkedIn Profile</label>
                <input formControlName="linkedin" type="text" class="form-control" id="linkedin"
                    placeholder="Enter your Linkedin url" />
                <div *ngIf="
                cvForm.get('linkedin').invalid && cvForm.get('linkedin').touched
              ">
                    <div class="required-field" *ngIf="cvForm.get('linkedin').hasError('required')">
                        Linkedin is required
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12 col-md-4">
                <label for="website">Website</label>
                <input formControlName="website" type="text" class="form-control" id="website"
                    placeholder="Enter your website url" />
                <div *ngIf="
                cvForm.get('website').invalid &&
                cvForm.get('website').touched
              ">
                    <div class="required-field" *ngIf="cvForm.get('website').hasError('required')">
                        Website is required
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12 col-md-4">
                <label for="portfolio">Portfolio</label>
                <input formControlName="portfolio" type="text" class="form-control" id="portfolio"
                    placeholder="Enter your portfolio url" />
                <div *ngIf="
                cvForm.get('portfolio').invalid && cvForm.get('portfolio').touched
              ">
                    <div class="required-field" *ngIf="cvForm.get('portfolio').hasError('required')">
                        Portfolio is required
                    </div>
                </div>
            </div>
        </div>

        <ng-container formArrayName="languages">
            <div *ngFor="let languageGroup of languages.controls; let i = index" [formGroupName]="i" class="row">

                <div class="form-group col-sm-12 col-md-4">
                    <label for="language"> {{'Language ' + (i + 1)}}</label>
                    <select formControlName="language" class="form-control" id="language">
                        <option value="" disabled selected>Select a language</option>
                        <option *ngFor="let lang of languagesSelect" [value]="lang">{{ lang }}</option>
                    </select>
                    <div *ngIf="languages.at(i).get('language').invalid && languages.at(i).get('language').touched">
                        <div class="required-field" *ngIf="languages.at(i).get('language').hasError('required')">
                            Language is required
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-12 col-md-4">
                    <label for="proficiency">Proficiency Level</label>
                    <div class="d-flex">
                        <button *ngFor="let level of proficiencyLevels" type="button" class="btn btn-secondary mr-2"
                                [ngClass]="{ 'btn-active': languages.at(i).get('proficiency').value === level }"
                                
                                (click)="handleProfiencyClick(i, level)">
                            {{ level }}
                        </button>
                        <div *ngIf="i > 0">
                            <i style="padding: 0 15px; cursor: pointer" class="fas fa-times"
                                (click)="deleteLanguage(i)"></i>
                        </div>
                    </div>
                    <div *ngIf="cvForm.get('languages.' + i + '.proficiency').invalid && cvForm.get('languages.' + i + '.proficiency').touched">
                        <div class="required-field" *ngIf="cvForm.get('languages.' + i + '.proficiency').hasError('required')">
                            Proficiency Level is required
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="addLanguage()"><i class="fas fa-plus"></i>
                Add</button>
        </div>

    </form>

</div>