<div class="row" style="margin-bottom: 24px">
    <div class="d-flex  justify-content-between">
        <h4 class="mb-3 font-weight-bold text-muted">Experience</h4>
    </div>
    <ng-container *ngIf="experience.length > 0; else noDataExp">
        <div class="cards-container">
            <div class="card content-item mr-2" *ngFor="let item of experience">
                <div class="card-body">
                    <div class="d-flex  justify-content-between">
                        <h5 class="card-title text-muted">{{ item.company }}</h5>
                        <i class="fas fa-edit" style="cursor: pointer;" (click)="triggerEditExperience(item)"></i>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ item.charge }}
                    </h6>
                    <p class="card-text">
                        {{ formatDate(item.dateStart) }} - {{ item.dateEnd ? formatDate(item.dateEnd) : "Current" }}
                    </p>
                    <p class="card-text">{{ item.description }}</p>
                    <ul>
                        <li class="text-truncate" *ngFor="let func of item.functions">{{ func }}</li>
                    </ul>
                </div>
            </div>
        </div>

    </ng-container>
    <ng-template #noDataExp>
        <div class="col-lg-12 col-md-12 col-sm-6">
            <div class="no-data-container">
                <i class="fas fa-exclamation-circle"></i>
                <p>You haven't add any experience yet.</p>
            </div>
        </div>
    </ng-template>
    <div [formGroup]="expForm" class="add-form">
        <div class="row">
            <div class="form-group col-sm-12 col-md-6">
                <label for="company">Company</label>
                <input formControlName="company" type="text" class="form-control" id="company"
                    placeholder="Enter the company" />
                <div *ngIf="
                  expForm.get('company').invalid &&
                  expForm.get('company').touched
                ">
                    <div class="required-field" *ngIf="expForm.get('company').hasError('required')">
                        Company is required
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-6">
                <label for="charge">Charge</label>
                <input formControlName="charge" type="text" class="form-control" id="charge"
                    placeholder="Enter your charge" />
                <div *ngIf="
                  expForm.get('charge').invalid && expForm.get('charge').touched
                ">
                    <div class="required-field" *ngIf="expForm.get('charge').hasError('required')">
                        Charge is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label for="description">Description</label>
                <input formControlName="description" type="text" class="form-control" id="description"
                    placeholder="Enter the description" />
                <div *ngIf="
                  expForm.get('description').invalid &&
                  expForm.get('description').touched
                ">
                    <div class="required-field" *ngIf="expForm.get('description').hasError('required')">
                        Description is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                <label for="datepicker">Start date</label>
                <div class="input-group">
                    <input formControlName="dateStart" type="date" id="datepicker" class="form-control" />
                </div>
                <div *ngIf="
                  expForm.get('dateStart').invalid &&
                  expForm.get('dateStart').touched
                ">
                    <div class="required-field" *ngIf="expForm.get('dateStart').hasError('required')">
                        Start date is required
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-4">
                <label for="datepicker">End date</label>
                <div class="input-group">
                    <input formControlName="dateEnd" type="date" id="datepicker" class="form-control" />
                </div>
                <div *ngIf="
                  expForm.get('dateEnd').invalid &&
                  expForm.get('dateEnd').touched
                ">
                    <div class="required-field" *ngIf="expForm.get('dateEnd').hasError('required')">
                        End date is required
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-4" style="padding: 35px">
                <div class="form-check">
                    <input formControlName="current" (ngModelChange)="onCheckboxChange()" class="form-check-input"
                        type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Current
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-6">
                <label for="function">Responsibilities</label>
                <ng-container formArrayName="functions">
                    <div *ngFor="let funct of functions.controls; let i = index" [formGroupName]="i">
                        <div class="mb-2" style="display: flex; display: flex; align-items: center">
                            <input formControlName="name" type="text" class="form-control" [id]="'name-' + i"
                                placeholder="Enter your responsability" />
                            <div *ngIf="i > 0">
                                <i style="padding: 0 15px; cursor: pointer" class="fas fa-times"
                                    (click)="deleteFunction(i)"></i>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <button (click)="addFunction()" type="button" style="margin-top: 32px" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Add
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-8" style="display: flex; justify-content: flex-end">
                <button *ngIf="!editExpMode" (click)="addExperience(expForm)" [disabled]="expForm.invalid" type="button"
                    style="margin-top: 32px" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Add experience
                </button>
                <button *ngIf="editExpMode" type="button" [disabled]="expForm.invalid" (click)="editExperience(expForm)"
                    style="margin: 32px 0" class="btn btn-primary mr-2">
                    <i class="fas fa-plus"></i> Save
                </button>
                <button *ngIf="editExpMode" type="button" [disabled]="expForm.invalid" (click)="cancelEditExp()"
                    style="margin: 32px 0" class="btn btn-danger">
                    <i class="fas fa-plus"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>