
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About CV Builder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <app-navbar></app-navbar>

    <div class="container project-section">
        <h2 class="text-center mb-4">About the Project</h2>
        <p class="text-center">The CV Builder project was created to practice and showcase skills in using the pdf-make
            library within the Angular framework. It provides a simple and efficient way to build professional resumes.
        </p>
    </div>

    <div class="container developer-section">
        <h2 class="text-center mb-4">About the Developer</h2>
        <img src="assets/images/headshot.png" alt="Developer" class="developer-image">
        <p class="text-center px-4  ">Hi, I'm Esteban Toro, the developer behind the CV Builder project. I'm passionate
            about
            web development and constantly seeking new challenges to enhance my skills. Feel free to connect with me on
            GitHub, LinkedIn or via email.</p>
        <ul class="list-unstyled text-center">
            <li>
                <i class="fab fa-github mr-2"></i>
                <a href="https://github.com/softEsteban" target="_blank" class="custom-link">GitHub</a>
            </li>
            <li>
                <i class="fab fa-linkedin mr-2"></i>
                <a href="https://www.linkedin.com/in/softesteban" target="_blank" class="custom-link">LinkedIn</a>
            </li>
            <li>
                <i class="fas fa-envelope"></i> estebantoro.ar@gmail.com
            </li>
        </ul>
    </div>

    <div class="container contact-section">
        <h2 class="contact-title">Want to create a similar project?</h2>
        <p class="contact-message">Feel free to reach out! I'm open to new projects and collaborations. Let's discuss
            your ideas and turn them into reality.</p>
            <a href="https://www.linkedin.com/in/softesteban/" target="_blank" class="btn btn-primary">Contact me</a>

    </div>

    <app-footer></app-footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
