<div class="row" style="margin-bottom: 24px">
    <div style="display: flex; justify-content: space-between">
        <h4 class="mb-3 font-weight-bold text-muted">Education</h4>
    </div>
    <ng-container *ngIf="education.length > 0; else noDataEdu">
        <div class="cards-container">
            <div class="card content-item mr-2" *ngFor="let item of education">
                <div class="card-body">
                    <div class="d-flex  justify-content-between">
                        <h5 class="card-title text-muted">{{ item.degree }}</h5>
                        <i class="fas fa-edit" style="cursor: pointer;" (click)="triggerEditEducation(item)"></i>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ item.institute }}
                    </h6>
                    <p class="card-text">
                        {{ formatDate(item.dateStart) }} - {{ item.dateEnd ? formatDate(item.dateEnd) : "Current" }}
                    </p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noDataEdu>
        <div class="col-lg-12 col-md-12 col-sm-6">
            <div class="no-data-container">
                <i class="fas fa-exclamation-circle"></i>
                <p>You haven't add any education yet.</p>
            </div>
        </div>
    </ng-template>
    <form [formGroup]="eduForm" class="add-form">
        <div class="row">
            <div class="form-group col-sm-12 col-md-6">
                <label for="degree">Degree</label>
                <input type="text" formControlName="degree" class="form-control" id="degree"
                    placeholder="Enter your degree" />
                <div *ngIf="
                eduForm.get('degree').invalid && eduForm.get('degree').touched
              ">
                    <div class="required-field" *ngIf="eduForm.get('degree').hasError('required')">
                        Degree is required
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-6">
                <label for="institute">Institute</label>
                <input type="text" formControlName="institute" class="form-control" id="institute"
                    placeholder="Enter your institute" />
                <div *ngIf="
                eduForm.get('institute').invalid &&
                eduForm.get('institute').touched
              ">
                    <div class="required-field" *ngIf="eduForm.get('institute').hasError('required')">
                        Institute is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                <label for="datepicker">Start date</label>
                <div class="input-group">
                    <input type="date" formControlName="dateStart" id="datepicker" class="form-control" />
                </div>
                <div *ngIf="
                eduForm.get('dateStart').invalid &&
                eduForm.get('dateStart').touched
              ">
                    <div class="required-field" *ngIf="eduForm.get('dateStart').hasError('required')">
                        Start date is required
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-4">
                <label for="datepicker">End date</label>
                <div class="input-group">
                    <input type="date" formControlName="dateEnd" id="datepicker" class="form-control" />
                </div>
                <div *ngIf="
                eduForm.get('dateEnd').invalid &&
                eduForm.get('dateEnd').touched
              ">
                    <div class="required-field" *ngIf="eduForm.get('dateEnd').hasError('required')">
                        End date is required
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-4" style="padding: 35px">
                <div class="form-check">
                    <input formControlName="current" (ngModelChange)="onCheckboxChange()" class="form-check-input"
                        type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Current
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <button *ngIf="!editEduMode" type="button" [disabled]="eduForm.invalid" (click)="addEducation(eduForm)"
                    style="margin: 32px 0" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Add education
                </button>
                <button *ngIf="editEduMode" type="button" [disabled]="eduForm.invalid" (click)="editEducation(eduForm)"
                    style="margin: 32px 0" class="btn btn-primary mr-2">
                    <i class="fas fa-plus"></i> Save
                </button>
                <button *ngIf="editEduMode" type="button" [disabled]="eduForm.invalid" (click)="cancelEditEdu()"
                    style="margin: 32px 0" class="btn btn-danger">
                    <i class="fas fa-plus"></i> Cancel
                </button>
            </div>
        </div>
    </form>
</div>