<footer class="footer bg-light text-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-5">
                <h5>About</h5>
                <p>A playgroud to generate a CV with defined structure!</p>
            </div>
            <div class="col-lg-6 mt-5">
                <h5>Reach me</h5>
                <ul class="list-unstyled">
                    <li>
                        <i class="fab fa-github"></i>
                        <a href="https://github.com/softEsteban" target="_blank" class="custom-link">
                            github.com/softEsteban
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-globe"></i>
                        <a href="https://etoro-roan.vercel.app/" target="_blank" class="custom-link">
                            etoro-roan.vercel.app
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i> estebantoro.ar@gmail.com
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i> Made in Colombia with love!
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-3">&copy; 2023 All rights reserved.</div>
</footer>