<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Builder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iK1q/z5fSQnEET6sreH2CfoQYF+3PaiL3aa5Xn2agB+6B/Wqj5dXJ9T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">CV Builder</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button class="btn btn-primary" (click)="viewPdf()">View PDF</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary mr-2" (click)="downloadPdf()">Download PDF</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary mr-2" (click)="loadMockCV()">Load mock CV</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-rT/j1LirH54bAQYZKlQ6VM+iZHeM5Cw5FL2UO4G75Lol5GdaFf+2iv4WxhFQ8nJ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-eIwqHukxq2G2AL9NOz6R8rYhYssCr9auZtAm2FNhYr/jzC9ndvXE+tkssXDnSAt"
        crossorigin="anonymous"></script>
</body>

</html>