<div class="container">
  <div>
    <h2>CV Builder</h2>
    <button class="btn btn-primary mt-4" (click)="createPdf()">Click me</button>
  </div>

  <div class="mt-4">
    <div>
      <h4 class="mb-3 font-weight-bold">Personal Info</h4>
      <!-- Personal Info form content -->
    </div>

    <div>
      <h4 class="mb-3 font-weight-bold">
        Education
        <button class="btn btn-link btn-sm" (click)="addEducation()">
          <i class="fas fa-plus"></i>
        </button>
      </h4>
      <form>
        <!-- Education form content -->
      </form>
    </div>

    <div class="mt-4">
      <h4 class="mb-3 font-weight-bold">
        Experience
        <button class="btn btn-link btn-sm" (click)="addExperience()">
          <i class="fas fa-plus"></i>
        </button>
      </h4>
      <form>
        <!-- Experience form content -->
      </form>
    </div>
  </div>

  <div class="mt-4">
    <ng-container *ngIf="pdfSrc">
      <iframe [src]="pdfSrc" width="100%" height="500px"></iframe>
    </ng-container>
  </div>
</div>
