<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    <div class="fixed-top">
      <div class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <h2 class="my-3">CV Builder</h2>
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-end my-3">
                <button
                  class="btn btn-primary mr-2 d-none d-sm-block"
                  (click)="viewPdf()"
                >
                  View pdf
                </button>
                <button
                  class="btn btn-primary mr-2 d-none d-sm-block"
                  (click)="downloadPdf()"
                >
                  Download pdf
                </button>
                <button
                  class="btn btn-primary d-none d-sm-block"
                  (click)="sendData()"
                >
                  Send data
                </button>
                <div class="d-sm-none">
                  <!-- Icons for small screens -->
                  <button class="btn btn-primary mt-4 mr-2" (click)="viewPdf()">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button
                    class="btn btn-primary mt-4 mr-2"
                    (click)="downloadPdf()"
                  >
                    <i class="fas fa-download"></i>
                  </button>
                  <button class="btn btn-primary mt-4" (click)="sendData()">
                    <i class="fas fa-paper-plane"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="showAlert && alertMessage != ''"
        class="alert alert-danger"
        role="alert"
      >
        {{ alertMessage }}
      </div>
    </div>

    <div class="container form-sections">
      <!-- Personal info -->
      <div style="margin-bottom: 24px">
        <div style="display: flex; justify-content: space-between">
          <h4 class="mb-3 font-weight-bold">Personal Info</h4>
        </div>

        <form [formGroup]="cvForm">
          <div class="row">
            <div class="form-group col-sm-12 col-md-4">
              <!-- Adjusted column size to occupy 12 columns on small screens -->
              <label for="name">Name</label>
              <input
                formControlName="name"
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter your name"
              />
              <div
                *ngIf="cvForm.get('name').invalid && cvForm.get('name').touched"
              >
                <div *ngIf="cvForm.get('name').hasError('required')">
                  Name is required
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-4">
              <!-- Adjusted column size to occupy 12 columns on small screens -->
              <label for="email">Email</label>
              <input
                formControlName="email"
                type="text"
                class="form-control"
                id="email"
                placeholder="Enter your email"
              />
              <div
                *ngIf="
                  cvForm.get('email').invalid && cvForm.get('email').touched
                "
              >
                <div *ngIf="cvForm.get('email').hasError('required')">
                  Email is required
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-4">
              <!-- Adjusted column size to occupy 12 columns on small screens -->
              <label for="phone">Phone</label>
              <input
                formControlName="phone"
                type="text"
                class="form-control"
                id="phone"
                placeholder="Enter your phone"
              />
              <div
                *ngIf="
                  cvForm.get('phone').invalid && cvForm.get('phone').touched
                "
              >
                <div *ngIf="cvForm.get('phone').hasError('required')">
                  Phone is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <!-- Adjusted column size to occupy 12 columns on small screens -->
              <label for="headline">Headline</label>
              <input
                formControlName="headline"
                type="text"
                class="form-control"
                id="headline"
                placeholder="Enter your headline"
              />
              <div
                *ngIf="
                  cvForm.get('headline').invalid &&
                  cvForm.get('headline').touched
                "
              >
                <div *ngIf="cvForm.get('headline').hasError('required')">
                  Headline is required
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <!-- Adjusted column size to occupy 12 columns on small screens -->
              <label for="profile">Profile</label>
              <input
                formControlName="profile"
                type="text"
                class="form-control"
                id="profile"
                placeholder="Enter your profile"
              />
              <div
                *ngIf="
                  cvForm.get('profile').invalid && cvForm.get('profile').touched
                "
              >
                <div *ngIf="cvForm.get('profile').hasError('required')">
                  Profile is required
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <hr class="hr" />

      <!-- Education -->
      <div class="row" style="margin-bottom: 24px">
        <div style="display: flex; justify-content: space-between">
          <h4 class="mb-3 font-weight-bold">Education</h4>
          <button type="button" class="btn btn-primary">
            <i class="fas fa-plus"></i> Add
          </button>
        </div>
        <div class="col-lg-4 col-sm-6 education-cards">
          <div class="card-group">
            <div class="card" *ngFor="let item of education">
              <div class="card-body">
                <h5 class="card-title">{{ item.degree }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ item.institute }}
                </h6>
                <p class="card-text">
                  {{ item.dateStart }} - {{ item.dateEnd }}
                </p>
                <button class="btn btn-primary" (click)="editEducation(item)">
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add form -->
      <div class="row">
        <div class="form-group col-sm-12 col-md-4">
          <label for="name">Degree</label>
          <input
            type="text"
            class="form-control"
            id="degree"
            placeholder="Enter your degree"
          />
          <!-- <div *ngIf="cvForm.get('name').invalid && cvForm.get('name').touched">
            <div *ngIf="cvForm.get('name').hasError('required')">
              Name is required
            </div>
          </div> -->
        </div>
        <div class="form-group col-sm-12 col-md-4">
          <label for="name">Institution</label>
          <input
            type="text"
            class="form-control"
            id="degree"
            placeholder="Enter your institution"
          />
          <!-- <div *ngIf="cvForm.get('name').invalid && cvForm.get('name').touched">
            <div *ngIf="cvForm.get('name').hasError('required')">
              Name is required
            </div>
          </div> -->
        </div>
      </div>

      <hr class="hr" />

      <!-- Experience -->
      <div class="row" style="margin-bottom: 24px">
        <div style="display: flex; justify-content: space-between">
          <h4 class="mb-3 font-weight-bold">Experience</h4>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="card-group">
            <div class="card" *ngFor="let item of experience">
              <div class="card-body">
                <h5 class="card-title">{{ item.company }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ item.charge }}
                </h6>
                <p class="card-text">
                  {{ item.dateStart }} - {{ item.dateEnd }}
                </p>
                <p class="card-text">{{ item.description }}</p>
                <ul>
                  <li *ngFor="let function of item.functions">
                    {{ function }}
                  </li>
                </ul>
                <button class="btn btn-primary" (click)="editExperience(item)">
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="company">Company</label>
              <input
                type="text"
                class="form-control"
                id="company"
                placeholder="Enter your company"
              />
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="position">Position</label>
              <input
                type="text"
                class="form-control"
                id="position"
                placeholder="Enter your position"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-12 col-md-4">
              <label for="datepicker">Date</label>
              <div class="input-group">
                <input type="date" id="datepicker" class="form-control" />
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-4">
              <label for="datepicker">Date</label>
              <div class="input-group">
                <input type="date" id="datepicker" class="form-control" />
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <button type="button" class="btn btn-primary">
                <i class="fas fa-plus"></i> Add
              </button>
            </div>
          </div>
        </div>
      </div>

      <hr class="hr" />

      <div class="row" style="margin-bottom: 24px">
        <div class="col-lg-2">
          <h4 class="mb-3 font-weight-bold">Skills</h4>
        </div>
        <div class="col-lg-10 input-group" style="height: 100%; gap: 10px">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchQuery"
            (input)="handleSearchChange()"
            placeholder="Search a skill"
            id="searchInput"
          />
          <div *ngIf="showSpinner" class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
          <select
            #skillsSelect
            class="custom-select"
            id="inputGroupSelect04"
            [disabled]="showSpinner"
            [(ngModel)]="selectedSkill"
          >
            <option selected>Choose a skill</option>
            <option *ngFor="let skill of skillsRes" [value]="skill">
              {{ skill }}
            </option>
          </select>
          <button
            (click)="addSkill()"
            type="button"
            [disabled]="selectedSkill === ''"
            class="btn btn-primary"
          >
            <i class="fas fa-plus"></i> Add
          </button>
        </div>

        <div class="row" style="margin-top: 25px">
          <div class="col">
            <div class="d-flex flex-wrap">
              <ng-container *ngFor="let item of skills">
                <span
                  style="font-size: 100%; margin: 5px 5px 0 0"
                  class="badge badge-pill badge-primary"
                  >{{ item }}
                  <i
                    style="cursor: pointer"
                    class="fas fa-times"
                    (click)="deleteSkill(item)"
                  ></i>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <hr class="hr" />

      <div class="mt-4 pdf-viewer">
        <ng-container *ngIf="pdfSrc">
          <h4 id="cv-section" class="mb-3 font-weight-bold">
            {{ userName + " CV" }}
          </h4>
          <iframe [src]="pdfSrc" width="100%" height="500px"></iframe>
        </ng-container>
      </div>
    </div>

    <footer class="footer bg-light text-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mt-5">
            <h5>About</h5>
            <p>A playgroud to generate a CV with defined structure!</p>
          </div>
          <div class="col-lg-6 mt-5">
            <h5>Reach me</h5>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-map-marker-alt"></i> Made in Colombia with love
              </li>
              <li>
                <i class="fas fa-envelope"></i> estebantoro.greenman@gmail.com
              </li>
              <li>
                <i class="fab fa-github"></i>
                <a
                  href="https://github.com/softEsteban"
                  target="_blank"
                  class="custom-link"
                >
                  github.com/softEsteban
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center py-3">&copy; 2023 All rights reserved.</div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
