.custom-upload-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;

  .custom-file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 2px dashed #337ab7;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #337ab7;
    transition: border-color 0.3s;
  }
}

input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.custom-file-upload i {
  margin-right: 5px;
}

.custom-file-upload:hover {
  border-color: #23527c;
}

.uploaded-image {
  display: none;
  width: 200px;
  height: 200px;
  border: 2px dashed #337ab7;
  border-radius: 5px;
  overflow: hidden;
}

.uploaded-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}