<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    <div class="fixed-top">
      <div class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <h2 class="my-3">CV Builder</h2>
            </div>
            <div class="col-6">
              <div class="d-flex justify-content-end my-3">
                <button
                  class="btn btn-primary mr-2 d-none d-sm-block"
                  (click)="viewPdf()"
                >
                  View pdf
                </button>
                <button
                  class="btn btn-primary mr-2 d-none d-sm-block"
                  (click)="downloadPdf()"
                >
                  Download pdf
                </button>
                <div class="d-sm-none">
                  <!-- Icons for small screens -->
                  <button class="btn btn-primary mt-4 mr-2" (click)="viewPdf()">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button
                    class="btn btn-primary mt-4 mr-2"
                    (click)="downloadPdf()"
                  >
                    <i class="fas fa-download"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="showAlert && alertMessage != ''"
        class="alert alert-danger"
        role="alert"
      >
        {{ alertMessage }}
      </div>
    </div>

    <div class="container form-sections">
      <!-- Personal info -->
      <div style="margin-bottom: 24px">
        <div style="display: flex; justify-content: space-between">
          <h4 class="mb-3 font-weight-bold bg-primary-subtle">Personal Info</h4>
        </div>

        <form [formGroup]="cvForm">
          <div class="row">
            <div class="form-group col-sm-12 col-md-4">
              <label for="name">Name</label>
              <input
                formControlName="name"
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter your name"
              />
              <div
                *ngIf="cvForm.get('name').invalid && cvForm.get('name').touched"
              >
                <div
                  class="required-field"
                  *ngIf="cvForm.get('name').hasError('required')"
                >
                  Name is required
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-4">
              <label for="email">Email</label>
              <input
                formControlName="email"
                type="text"
                class="form-control"
                id="email"
                placeholder="Enter your email"
              />
              <div
                *ngIf="
                  cvForm.get('email').invalid && cvForm.get('email').touched
                "
              >
                <div
                  class="required-field"
                  *ngIf="cvForm.get('email').hasError('required')"
                >
                  Email is required
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-4">
              <label for="phone">Phone</label>
              <input
                formControlName="phone"
                type="text"
                class="form-control"
                id="phone"
                placeholder="Enter your phone"
              />
              <div
                *ngIf="
                  cvForm.get('phone').invalid && cvForm.get('phone').touched
                "
              >
                <div
                  class="required-field"
                  *ngIf="cvForm.get('phone').hasError('required')"
                >
                  Phone is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="headline">Headline</label>
              <input
                formControlName="headline"
                type="text"
                class="form-control"
                id="headline"
                placeholder="Enter your headline"
              />
              <div
                *ngIf="
                  cvForm.get('headline').invalid &&
                  cvForm.get('headline').touched
                "
              >
                <div
                  class="required-field"
                  *ngIf="cvForm.get('headline').hasError('required')"
                >
                  Headline is required
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <label for="profile">Profile</label>
              <input
                formControlName="profile"
                type="text"
                class="form-control"
                id="profile"
                placeholder="Enter your profile"
              />
              <div
                *ngIf="
                  cvForm.get('profile').invalid && cvForm.get('profile').touched
                "
              >
                <div
                  class="required-field"
                  *ngIf="cvForm.get('profile').hasError('required')"
                >
                  Profile is required
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <hr class="hr" />

      <!-- Skills -->

      <div style="margin-bottom: 24px">
        <div class="row">
          <div class="col-lg-2 col-sm-12">
            <h4 class="mb-3 font-weight-bold bg-primary-subtle">Skills</h4>
          </div>
          <div
            class="col-lg-10 col-sm-12 input-group"
            style="height: 100%; gap: 10px"
          >
            <input
              type="text"
              class="form-control"
              [(ngModel)]="searchQuery"
              (input)="handleSearchChange()"
              placeholder="Search a skill"
              id="searchInput"
            />
            <div *ngIf="showSpinner" class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
            <select
              #skillsSelect
              class="custom-select"
              id="inputGroupSelect04"
              [disabled]="showSpinner"
              [(ngModel)]="selectedSkill"
            >
              <option selected>Choose a skill</option>
              <option *ngFor="let skill of skillsRes" [value]="skill">
                {{ skill }}
              </option>
            </select>
            <button
              (click)="addSkill()"
              type="button"
              [disabled]="selectedSkill === ''"
              class="btn btn-primary"
            >
              <i class="fas fa-plus"></i> Add Skill
            </button>
          </div>
        </div>

        <ng-container *ngIf="skills.length > 0; else noDataSkills">
          <div class="row" style="margin-top: 25px">
            <div class="col">
              <div class="d-flex flex-wrap">
                <ng-container *ngFor="let item of skills">
                  <span
                    style="font-size: 100%; margin: 5px 5px 0 0; padding: 10px"
                    class="badge badge-pill badge-primary"
                    >{{ item }}
                    <i
                      style="cursor: pointer"
                      class="fas fa-times"
                      (click)="deleteSkill(item)"
                    ></i>
                  </span>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template #noDataSkills>
          <div class="col-lg-12 col-md-12 col-sm-6 mb-3">
            <div class="no-data-container">
              <p>You haven't add any skill yet.</p>
            </div>
          </div>
        </ng-template>
      </div>

      <hr class="hr" />

      <!-- Education -->
      <div class="row" style="margin-bottom: 24px">
        <div style="display: flex; justify-content: space-between">
          <h4 class="mb-3 font-weight-bold bg-primary-subtle">Education</h4>
        </div>

        <ng-container *ngIf="education.length > 0; else noDataEdu">
          <div class="col-lg-4 col-sm-6 education-cards mb-3">
            <div class="card-group">
              <div class="card" *ngFor="let item of education">
                <div class="card-body">
                  <h5 class="card-title">{{ item.degree }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    {{ item.institute }}
                  </h6>
                  <p class="card-text">
                    {{ item.dateStart }} - {{ item.dateEnd }}
                  </p>
                  <button
                    class="btn btn-primary"
                    (click)="triggerEditEducation(item)"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template #noDataEdu>
          <div class="col-lg-12 col-md-12 col-sm-6 education-cards mb-3">
            <div class="no-data-container">
              <p>You haven't add any education yet.</p>
            </div>
          </div>
        </ng-template>

        <form [formGroup]="eduForm" class="add-form">
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="degree">Degree</label>
              <input
                type="text"
                formControlName="degree"
                class="form-control"
                id="degree"
                placeholder="Enter your degree"
              />
              <div
                *ngIf="
                  eduForm.get('degree').invalid && eduForm.get('degree').touched
                "
              >
                <div
                  class="required-field"
                  *ngIf="eduForm.get('degree').hasError('required')"
                >
                  Degree is required
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="institute">Institute</label>
              <input
                type="text"
                formControlName="institute"
                class="form-control"
                id="institute"
                placeholder="Enter your institute"
              />
              <div
                *ngIf="
                  eduForm.get('institute').invalid &&
                  eduForm.get('institute').touched
                "
              >
                <div
                  class="required-field"
                  *ngIf="eduForm.get('institute').hasError('required')"
                >
                  Institute is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-4">
              <label for="datepicker">Start date</label>
              <div class="input-group">
                <input
                  type="date"
                  formControlName="dateStart"
                  id="datepicker"
                  class="form-control"
                />
                <div
                  *ngIf="
                    eduForm.get('dateStart').invalid &&
                    eduForm.get('dateStart').touched
                  "
                >
                  <div
                    class="required-field"
                    *ngIf="eduForm.get('dateStart').hasError('required')"
                  >
                    Start date is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-4">
              <label for="datepicker">End date</label>
              <div class="input-group">
                <input
                  type="date"
                  formControlName="dateEnd"
                  id="datepicker"
                  class="form-control"
                />
                <div
                  *ngIf="
                    eduForm.get('dateEnd').invalid &&
                    eduForm.get('dateEnd').touched
                  "
                >
                  <div
                    class="required-field"
                    *ngIf="eduForm.get('dateEnd').hasError('required')"
                  >
                    End date is required
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-sm-12 col-md-4"
              style="display: flex; justify-content: flex-end"
            >
              <button
                *ngIf="!editEduMode"
                type="button"
                [disabled]="eduForm.invalid"
                (click)="addEducation(eduForm)"
                style="margin: 32px 0"
                class="btn btn-primary"
              >
                <i class="fas fa-plus"></i> Add education
              </button>
              <button
                *ngIf="editEduMode"
                type="button"
                [disabled]="eduForm.invalid"
                (click)="editEducation(eduForm)"
                style="margin: 32px 0"
                class="btn btn-primary mr-2"
              >
                <i class="fas fa-plus"></i> Save
              </button>
              <button
                *ngIf="editEduMode"
                type="button"
                [disabled]="eduForm.invalid"
                (click)="cancelEditEdu()"
                style="margin: 32px 0"
                class="btn btn-danger"
              >
                <i class="fas fa-plus"></i> Cancel
              </button>
            </div>
          </div>
        </form>
      </div>

      <hr class="hr" />

      <!-- Experience -->
      <div class="row" style="margin-bottom: 24px">
        <div style="display: flex; justify-content: space-between">
          <h4 class="mb-3 font-weight-bold bg-primary-subtle">Experience</h4>
        </div>

        <ng-container *ngIf="experience.length > 0; else noDataExp">
          <div class="col-lg-4 col-sm-6 mb-3">
            <div class="card-group">
              <div class="card" *ngFor="let item of experience">
                <div class="card-body">
                  <h5 class="card-title">{{ item.company }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    {{ item.charge }}
                  </h6>
                  <p class="card-text">
                    {{ item.dateStart }} - {{ item.dateEnd }}
                  </p>
                  <p class="card-text">{{ item.description }}</p>
                  <ul>
                    <li *ngFor="let func of item.functions">{{ func }}</li>
                  </ul>
                  <button
                    class="btn btn-primary"
                    (click)="triggerEditExperience(item)"
                  >
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template #noDataExp>
          <div class="col-lg-12 col-md-12 col-sm-6 education-cards mb-3">
            <div class="no-data-container">
              <p>You haven't add any experience yet.</p>
            </div>
          </div>
        </ng-template>

        <div [formGroup]="expForm" class="add-form">
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="company">Company</label>
              <input
                formControlName="company"
                type="text"
                class="form-control"
                id="company"
                placeholder="Enter the company"
              />
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="charge">Charge</label>
              <input
                formControlName="charge"
                type="text"
                class="form-control"
                id="charge"
                placeholder="Enter your charge"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-12 col-md-12">
              <label for="description">Description</label>
              <input
                formControlName="description"
                type="text"
                class="form-control"
                id="description"
                placeholder="Enter the description"
              />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-12 col-md-4">
              <label for="datepicker">Start date</label>
              <div class="input-group">
                <input
                  formControlName="dateStart"
                  type="date"
                  id="datepicker"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-4">
              <label for="datepicker">End date</label>
              <div class="input-group">
                <input
                  formControlName="dateEnd"
                  type="date"
                  id="datepicker"
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="function">Responsibilities</label>
              <ng-container formArrayName="functions">
                <div
                  *ngFor="let funct of functions.controls; let i = index"
                  [formGroupName]="i"
                >
                  <div
                    class="mb-2"
                    style="display: flex; display: flex; align-items: center"
                  >
                    <input
                      formControlName="name"
                      type="text"
                      class="form-control"
                      [id]="'name-' + i"
                      placeholder="Enter your responsability"
                    />
                    <div *ngIf="i > 0">
                      <i
                        style="padding: 0 15px; cursor: pointer"
                        class="fas fa-times"
                        (click)="deleteFunction(i)"
                      ></i>
                    </div>
                  </div>
                </div>
              </ng-container>

              <button
                (click)="addFunction()"
                type="button"
                style="margin-top: 32px"
                class="btn btn-primary"
              >
                <i class="fas fa-plus"></i> Add
              </button>
            </div>
          </div>

          <div class="row">
            <div
              class="col-sm-12 col-md-4 offset-md-8"
              style="display: flex; justify-content: flex-end"
            >
              <button
                *ngIf="!editExpMode"
                (click)="addExperience(expForm)"
                [disabled]="expForm.invalid"
                type="button"
                style="margin-top: 32px"
                class="btn btn-primary"
              >
                <i class="fas fa-plus"></i> Add experience
              </button>

              <button
                *ngIf="editExpMode"
                type="button"
                [disabled]="expForm.invalid"
                (click)="editExperience(expForm)"
                style="margin: 32px 0"
                class="btn btn-primary mr-2"
              >
                <i class="fas fa-plus"></i> Save
              </button>
              <button
                *ngIf="editExpMode"
                type="button"
                [disabled]="expForm.invalid"
                (click)="cancelEditExp()"
                style="margin: 32px 0"
                class="btn btn-danger"
              >
                <i class="fas fa-plus"></i> Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <hr class="hr" />

      <!-- PDF Viewer -->
      <div class="mt-4 pdf-viewer">
        <ng-container *ngIf="pdfSrc">
          <h4 id="cv-section" class="mb-3 font-weight-bold">
            {{ userName + " CV" }}
          </h4>
          <iframe [src]="pdfSrc" width="100%" height="500px"></iframe>
        </ng-container>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer bg-light text-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mt-5">
            <h5>About</h5>
            <p>A playgroud to generate a CV with defined structure!</p>
          </div>
          <div class="col-lg-6 mt-5">
            <h5>Reach me</h5>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-map-marker-alt"></i> Made in Colombia with love
              </li>
              <li>
                <i class="fas fa-envelope"></i> estebantoro.greenman@gmail.com
              </li>
              <li>
                <i class="fab fa-github"></i>
                <a
                  href="https://github.com/softEsteban"
                  target="_blank"
                  class="custom-link"
                >
                  github.com/softEsteban
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center py-3">&copy; 2023 All rights reserved.</div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
